/**
 * Breakpoints
 */
$bp-xs: 576px;
$bp-sm: 768px;
$bp-md: 992px;
$bp-lg: 1200px;
$bp-xl: 1400px;
$breakpoints: (
    ('xs', $bp-xs),
    ('sm', $bp-sm),
    ('md', $bp-md),
    ('lg', $bp-lg),
    ('xl', $bp-xl)
);

/**
 * Sizing
 */
$grid-gutter: 30px;
$grid-columns: 12;