/**
 * Breakpoints
 */
/**
 * Sizing
 */
/**
 * A mixin targeting a specific device width and larger.
 * These are the available targets: 'sm', 'md', 'lg', 'xl'
 *
 * @param {string} $media The target media
 * @see https://benjaminhorn.io/code/responsive-sass-mixin-helpers/
 */
/**
 * Generates classes for a grid of columns, prefixed by size.
 * The result will be [breakpoint]-[col]-[columns] E.g. .xs-6-12
 *
 * @param {string} $bp The name of the breakpoint target (e.g. xs, sm, md, lg, xl, etc.)
 * @param {int} $columns Amount of columns
 * @see https://benjaminhorn.io/code/simple-sass-mixins-for-generating-grids-similar-to-bootstrap/
 */
.db-container {
  padding: 15px 0; }

.db-grid {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -15px;
  /**
     * Modifiers
     */ }
  .db-grid__col {
    flex: 1;
    padding: 15px; }
    .db-grid__col.-xx-1-12 {
      flex: 1 0 8.33333%;
      max-width: 8.33333%; }
    .db-grid__col.-xx-2-12 {
      flex: 1 0 16.66667%;
      max-width: 16.66667%; }
    .db-grid__col.-xx-3-12 {
      flex: 1 0 25%;
      max-width: 25%; }
    .db-grid__col.-xx-4-12 {
      flex: 1 0 33.33333%;
      max-width: 33.33333%; }
    .db-grid__col.-xx-5-12 {
      flex: 1 0 41.66667%;
      max-width: 41.66667%; }
    .db-grid__col.-xx-6-12 {
      flex: 1 0 50%;
      max-width: 50%; }
    .db-grid__col.-xx-7-12 {
      flex: 1 0 58.33333%;
      max-width: 58.33333%; }
    .db-grid__col.-xx-8-12 {
      flex: 1 0 66.66667%;
      max-width: 66.66667%; }
    .db-grid__col.-xx-9-12 {
      flex: 1 0 75%;
      max-width: 75%; }
    .db-grid__col.-xx-10-12 {
      flex: 1 0 83.33333%;
      max-width: 83.33333%; }
    .db-grid__col.-xx-11-12 {
      flex: 1 0 91.66667%;
      max-width: 91.66667%; }
    .db-grid__col.-xx-12-12 {
      flex: 1 0 100%;
      max-width: 100%; }
    .db-grid__col.-xx-1-6 {
      flex: 1 0 16.66667%;
      max-width: 16.66667%; }
    .db-grid__col.-xx-2-6 {
      flex: 1 0 33.33333%;
      max-width: 33.33333%; }
    .db-grid__col.-xx-3-6 {
      flex: 1 0 50%;
      max-width: 50%; }
    .db-grid__col.-xx-4-6 {
      flex: 1 0 66.66667%;
      max-width: 66.66667%; }
    .db-grid__col.-xx-5-6 {
      flex: 1 0 83.33333%;
      max-width: 83.33333%; }
    .db-grid__col.-xx-6-6 {
      flex: 1 0 100%;
      max-width: 100%; }
    .db-grid__col.-xx-1-4 {
      flex: 1 0 25%;
      max-width: 25%; }
    .db-grid__col.-xx-2-4 {
      flex: 1 0 50%;
      max-width: 50%; }
    .db-grid__col.-xx-3-4 {
      flex: 1 0 75%;
      max-width: 75%; }
    .db-grid__col.-xx-4-4 {
      flex: 1 0 100%;
      max-width: 100%; }
    .db-grid__col.-xx-1-3 {
      flex: 1 0 33.33333%;
      max-width: 33.33333%; }
    .db-grid__col.-xx-2-3 {
      flex: 1 0 66.66667%;
      max-width: 66.66667%; }
    .db-grid__col.-xx-3-3 {
      flex: 1 0 100%;
      max-width: 100%; }
    .db-grid__col.-xx-1-2 {
      flex: 1 0 50%;
      max-width: 50%; }
    .db-grid__col.-xx-2-2 {
      flex: 1 0 100%;
      max-width: 100%; }
    .db-grid__col.-xx-1-1 {
      flex: 1 0 100%;
      max-width: 100%; }
    @media (min-width: 576px) {
      .db-grid__col.-xs-1-12 {
        flex: 1 0 8.33333%;
        max-width: 8.33333%; }
      .db-grid__col.-xs-2-12 {
        flex: 1 0 16.66667%;
        max-width: 16.66667%; }
      .db-grid__col.-xs-3-12 {
        flex: 1 0 25%;
        max-width: 25%; }
      .db-grid__col.-xs-4-12 {
        flex: 1 0 33.33333%;
        max-width: 33.33333%; }
      .db-grid__col.-xs-5-12 {
        flex: 1 0 41.66667%;
        max-width: 41.66667%; }
      .db-grid__col.-xs-6-12 {
        flex: 1 0 50%;
        max-width: 50%; }
      .db-grid__col.-xs-7-12 {
        flex: 1 0 58.33333%;
        max-width: 58.33333%; }
      .db-grid__col.-xs-8-12 {
        flex: 1 0 66.66667%;
        max-width: 66.66667%; }
      .db-grid__col.-xs-9-12 {
        flex: 1 0 75%;
        max-width: 75%; }
      .db-grid__col.-xs-10-12 {
        flex: 1 0 83.33333%;
        max-width: 83.33333%; }
      .db-grid__col.-xs-11-12 {
        flex: 1 0 91.66667%;
        max-width: 91.66667%; }
      .db-grid__col.-xs-12-12 {
        flex: 1 0 100%;
        max-width: 100%; }
      .db-grid__col.-xs-1-6 {
        flex: 1 0 16.66667%;
        max-width: 16.66667%; }
      .db-grid__col.-xs-2-6 {
        flex: 1 0 33.33333%;
        max-width: 33.33333%; }
      .db-grid__col.-xs-3-6 {
        flex: 1 0 50%;
        max-width: 50%; }
      .db-grid__col.-xs-4-6 {
        flex: 1 0 66.66667%;
        max-width: 66.66667%; }
      .db-grid__col.-xs-5-6 {
        flex: 1 0 83.33333%;
        max-width: 83.33333%; }
      .db-grid__col.-xs-6-6 {
        flex: 1 0 100%;
        max-width: 100%; }
      .db-grid__col.-xs-1-4 {
        flex: 1 0 25%;
        max-width: 25%; }
      .db-grid__col.-xs-2-4 {
        flex: 1 0 50%;
        max-width: 50%; }
      .db-grid__col.-xs-3-4 {
        flex: 1 0 75%;
        max-width: 75%; }
      .db-grid__col.-xs-4-4 {
        flex: 1 0 100%;
        max-width: 100%; }
      .db-grid__col.-xs-1-3 {
        flex: 1 0 33.33333%;
        max-width: 33.33333%; }
      .db-grid__col.-xs-2-3 {
        flex: 1 0 66.66667%;
        max-width: 66.66667%; }
      .db-grid__col.-xs-3-3 {
        flex: 1 0 100%;
        max-width: 100%; }
      .db-grid__col.-xs-1-2 {
        flex: 1 0 50%;
        max-width: 50%; }
      .db-grid__col.-xs-2-2 {
        flex: 1 0 100%;
        max-width: 100%; }
      .db-grid__col.-xs-1-1 {
        flex: 1 0 100%;
        max-width: 100%; } }
    @media (min-width: 768px) {
      .db-grid__col.-sm-1-12 {
        flex: 1 0 8.33333%;
        max-width: 8.33333%; }
      .db-grid__col.-sm-2-12 {
        flex: 1 0 16.66667%;
        max-width: 16.66667%; }
      .db-grid__col.-sm-3-12 {
        flex: 1 0 25%;
        max-width: 25%; }
      .db-grid__col.-sm-4-12 {
        flex: 1 0 33.33333%;
        max-width: 33.33333%; }
      .db-grid__col.-sm-5-12 {
        flex: 1 0 41.66667%;
        max-width: 41.66667%; }
      .db-grid__col.-sm-6-12 {
        flex: 1 0 50%;
        max-width: 50%; }
      .db-grid__col.-sm-7-12 {
        flex: 1 0 58.33333%;
        max-width: 58.33333%; }
      .db-grid__col.-sm-8-12 {
        flex: 1 0 66.66667%;
        max-width: 66.66667%; }
      .db-grid__col.-sm-9-12 {
        flex: 1 0 75%;
        max-width: 75%; }
      .db-grid__col.-sm-10-12 {
        flex: 1 0 83.33333%;
        max-width: 83.33333%; }
      .db-grid__col.-sm-11-12 {
        flex: 1 0 91.66667%;
        max-width: 91.66667%; }
      .db-grid__col.-sm-12-12 {
        flex: 1 0 100%;
        max-width: 100%; }
      .db-grid__col.-sm-1-6 {
        flex: 1 0 16.66667%;
        max-width: 16.66667%; }
      .db-grid__col.-sm-2-6 {
        flex: 1 0 33.33333%;
        max-width: 33.33333%; }
      .db-grid__col.-sm-3-6 {
        flex: 1 0 50%;
        max-width: 50%; }
      .db-grid__col.-sm-4-6 {
        flex: 1 0 66.66667%;
        max-width: 66.66667%; }
      .db-grid__col.-sm-5-6 {
        flex: 1 0 83.33333%;
        max-width: 83.33333%; }
      .db-grid__col.-sm-6-6 {
        flex: 1 0 100%;
        max-width: 100%; }
      .db-grid__col.-sm-1-4 {
        flex: 1 0 25%;
        max-width: 25%; }
      .db-grid__col.-sm-2-4 {
        flex: 1 0 50%;
        max-width: 50%; }
      .db-grid__col.-sm-3-4 {
        flex: 1 0 75%;
        max-width: 75%; }
      .db-grid__col.-sm-4-4 {
        flex: 1 0 100%;
        max-width: 100%; }
      .db-grid__col.-sm-1-3 {
        flex: 1 0 33.33333%;
        max-width: 33.33333%; }
      .db-grid__col.-sm-2-3 {
        flex: 1 0 66.66667%;
        max-width: 66.66667%; }
      .db-grid__col.-sm-3-3 {
        flex: 1 0 100%;
        max-width: 100%; }
      .db-grid__col.-sm-1-2 {
        flex: 1 0 50%;
        max-width: 50%; }
      .db-grid__col.-sm-2-2 {
        flex: 1 0 100%;
        max-width: 100%; }
      .db-grid__col.-sm-1-1 {
        flex: 1 0 100%;
        max-width: 100%; } }
    @media (min-width: 992px) {
      .db-grid__col.-md-1-12 {
        flex: 1 0 8.33333%;
        max-width: 8.33333%; }
      .db-grid__col.-md-2-12 {
        flex: 1 0 16.66667%;
        max-width: 16.66667%; }
      .db-grid__col.-md-3-12 {
        flex: 1 0 25%;
        max-width: 25%; }
      .db-grid__col.-md-4-12 {
        flex: 1 0 33.33333%;
        max-width: 33.33333%; }
      .db-grid__col.-md-5-12 {
        flex: 1 0 41.66667%;
        max-width: 41.66667%; }
      .db-grid__col.-md-6-12 {
        flex: 1 0 50%;
        max-width: 50%; }
      .db-grid__col.-md-7-12 {
        flex: 1 0 58.33333%;
        max-width: 58.33333%; }
      .db-grid__col.-md-8-12 {
        flex: 1 0 66.66667%;
        max-width: 66.66667%; }
      .db-grid__col.-md-9-12 {
        flex: 1 0 75%;
        max-width: 75%; }
      .db-grid__col.-md-10-12 {
        flex: 1 0 83.33333%;
        max-width: 83.33333%; }
      .db-grid__col.-md-11-12 {
        flex: 1 0 91.66667%;
        max-width: 91.66667%; }
      .db-grid__col.-md-12-12 {
        flex: 1 0 100%;
        max-width: 100%; }
      .db-grid__col.-md-1-6 {
        flex: 1 0 16.66667%;
        max-width: 16.66667%; }
      .db-grid__col.-md-2-6 {
        flex: 1 0 33.33333%;
        max-width: 33.33333%; }
      .db-grid__col.-md-3-6 {
        flex: 1 0 50%;
        max-width: 50%; }
      .db-grid__col.-md-4-6 {
        flex: 1 0 66.66667%;
        max-width: 66.66667%; }
      .db-grid__col.-md-5-6 {
        flex: 1 0 83.33333%;
        max-width: 83.33333%; }
      .db-grid__col.-md-6-6 {
        flex: 1 0 100%;
        max-width: 100%; }
      .db-grid__col.-md-1-4 {
        flex: 1 0 25%;
        max-width: 25%; }
      .db-grid__col.-md-2-4 {
        flex: 1 0 50%;
        max-width: 50%; }
      .db-grid__col.-md-3-4 {
        flex: 1 0 75%;
        max-width: 75%; }
      .db-grid__col.-md-4-4 {
        flex: 1 0 100%;
        max-width: 100%; }
      .db-grid__col.-md-1-3 {
        flex: 1 0 33.33333%;
        max-width: 33.33333%; }
      .db-grid__col.-md-2-3 {
        flex: 1 0 66.66667%;
        max-width: 66.66667%; }
      .db-grid__col.-md-3-3 {
        flex: 1 0 100%;
        max-width: 100%; }
      .db-grid__col.-md-1-2 {
        flex: 1 0 50%;
        max-width: 50%; }
      .db-grid__col.-md-2-2 {
        flex: 1 0 100%;
        max-width: 100%; }
      .db-grid__col.-md-1-1 {
        flex: 1 0 100%;
        max-width: 100%; } }
    @media (min-width: 1200px) {
      .db-grid__col.-lg-1-12 {
        flex: 1 0 8.33333%;
        max-width: 8.33333%; }
      .db-grid__col.-lg-2-12 {
        flex: 1 0 16.66667%;
        max-width: 16.66667%; }
      .db-grid__col.-lg-3-12 {
        flex: 1 0 25%;
        max-width: 25%; }
      .db-grid__col.-lg-4-12 {
        flex: 1 0 33.33333%;
        max-width: 33.33333%; }
      .db-grid__col.-lg-5-12 {
        flex: 1 0 41.66667%;
        max-width: 41.66667%; }
      .db-grid__col.-lg-6-12 {
        flex: 1 0 50%;
        max-width: 50%; }
      .db-grid__col.-lg-7-12 {
        flex: 1 0 58.33333%;
        max-width: 58.33333%; }
      .db-grid__col.-lg-8-12 {
        flex: 1 0 66.66667%;
        max-width: 66.66667%; }
      .db-grid__col.-lg-9-12 {
        flex: 1 0 75%;
        max-width: 75%; }
      .db-grid__col.-lg-10-12 {
        flex: 1 0 83.33333%;
        max-width: 83.33333%; }
      .db-grid__col.-lg-11-12 {
        flex: 1 0 91.66667%;
        max-width: 91.66667%; }
      .db-grid__col.-lg-12-12 {
        flex: 1 0 100%;
        max-width: 100%; }
      .db-grid__col.-lg-1-6 {
        flex: 1 0 16.66667%;
        max-width: 16.66667%; }
      .db-grid__col.-lg-2-6 {
        flex: 1 0 33.33333%;
        max-width: 33.33333%; }
      .db-grid__col.-lg-3-6 {
        flex: 1 0 50%;
        max-width: 50%; }
      .db-grid__col.-lg-4-6 {
        flex: 1 0 66.66667%;
        max-width: 66.66667%; }
      .db-grid__col.-lg-5-6 {
        flex: 1 0 83.33333%;
        max-width: 83.33333%; }
      .db-grid__col.-lg-6-6 {
        flex: 1 0 100%;
        max-width: 100%; }
      .db-grid__col.-lg-1-4 {
        flex: 1 0 25%;
        max-width: 25%; }
      .db-grid__col.-lg-2-4 {
        flex: 1 0 50%;
        max-width: 50%; }
      .db-grid__col.-lg-3-4 {
        flex: 1 0 75%;
        max-width: 75%; }
      .db-grid__col.-lg-4-4 {
        flex: 1 0 100%;
        max-width: 100%; }
      .db-grid__col.-lg-1-3 {
        flex: 1 0 33.33333%;
        max-width: 33.33333%; }
      .db-grid__col.-lg-2-3 {
        flex: 1 0 66.66667%;
        max-width: 66.66667%; }
      .db-grid__col.-lg-3-3 {
        flex: 1 0 100%;
        max-width: 100%; }
      .db-grid__col.-lg-1-2 {
        flex: 1 0 50%;
        max-width: 50%; }
      .db-grid__col.-lg-2-2 {
        flex: 1 0 100%;
        max-width: 100%; }
      .db-grid__col.-lg-1-1 {
        flex: 1 0 100%;
        max-width: 100%; } }
    @media (min-width: 1400px) {
      .db-grid__col.-xl-1-12 {
        flex: 1 0 8.33333%;
        max-width: 8.33333%; }
      .db-grid__col.-xl-2-12 {
        flex: 1 0 16.66667%;
        max-width: 16.66667%; }
      .db-grid__col.-xl-3-12 {
        flex: 1 0 25%;
        max-width: 25%; }
      .db-grid__col.-xl-4-12 {
        flex: 1 0 33.33333%;
        max-width: 33.33333%; }
      .db-grid__col.-xl-5-12 {
        flex: 1 0 41.66667%;
        max-width: 41.66667%; }
      .db-grid__col.-xl-6-12 {
        flex: 1 0 50%;
        max-width: 50%; }
      .db-grid__col.-xl-7-12 {
        flex: 1 0 58.33333%;
        max-width: 58.33333%; }
      .db-grid__col.-xl-8-12 {
        flex: 1 0 66.66667%;
        max-width: 66.66667%; }
      .db-grid__col.-xl-9-12 {
        flex: 1 0 75%;
        max-width: 75%; }
      .db-grid__col.-xl-10-12 {
        flex: 1 0 83.33333%;
        max-width: 83.33333%; }
      .db-grid__col.-xl-11-12 {
        flex: 1 0 91.66667%;
        max-width: 91.66667%; }
      .db-grid__col.-xl-12-12 {
        flex: 1 0 100%;
        max-width: 100%; }
      .db-grid__col.-xl-1-6 {
        flex: 1 0 16.66667%;
        max-width: 16.66667%; }
      .db-grid__col.-xl-2-6 {
        flex: 1 0 33.33333%;
        max-width: 33.33333%; }
      .db-grid__col.-xl-3-6 {
        flex: 1 0 50%;
        max-width: 50%; }
      .db-grid__col.-xl-4-6 {
        flex: 1 0 66.66667%;
        max-width: 66.66667%; }
      .db-grid__col.-xl-5-6 {
        flex: 1 0 83.33333%;
        max-width: 83.33333%; }
      .db-grid__col.-xl-6-6 {
        flex: 1 0 100%;
        max-width: 100%; }
      .db-grid__col.-xl-1-4 {
        flex: 1 0 25%;
        max-width: 25%; }
      .db-grid__col.-xl-2-4 {
        flex: 1 0 50%;
        max-width: 50%; }
      .db-grid__col.-xl-3-4 {
        flex: 1 0 75%;
        max-width: 75%; }
      .db-grid__col.-xl-4-4 {
        flex: 1 0 100%;
        max-width: 100%; }
      .db-grid__col.-xl-1-3 {
        flex: 1 0 33.33333%;
        max-width: 33.33333%; }
      .db-grid__col.-xl-2-3 {
        flex: 1 0 66.66667%;
        max-width: 66.66667%; }
      .db-grid__col.-xl-3-3 {
        flex: 1 0 100%;
        max-width: 100%; }
      .db-grid__col.-xl-1-2 {
        flex: 1 0 50%;
        max-width: 50%; }
      .db-grid__col.-xl-2-2 {
        flex: 1 0 100%;
        max-width: 100%; }
      .db-grid__col.-xl-1-1 {
        flex: 1 0 100%;
        max-width: 100%; } }
  .db-grid--no-gutters {
    margin: 0; }
  .db-grid--no-gutters > .db-grid__col {
    padding: 0; }
