@import 'config';
@import 'mixins';

.container {
    width: 100%;
    padding: 0 ($grid-gutter /2);
    margin: 0 auto;

    &--fluid {
        padding: 0;
    }
}

.grid {
    display: flex;
    flex-flow: row wrap;
    margin: 0 0 0 ($grid-gutter * -1);

    // Modifiers
    &--no-gutters {
        margin: 0;
    }

    &--no-gutters>.col {
        padding: 0;
    }
}

.col {
    flex: 1;
    order: ($grid-columns + 1);
    padding: $grid-gutter 0 0 $grid-gutter;

    // Modifiers
    @include col-generator-base($grid-columns);
    @include col-generator('xs', $grid-columns);
    @include col-generator('sm', $grid-columns);
    @include col-generator('md', $grid-columns);
    @include col-generator('lg', $grid-columns);
    @include col-generator('xl', $grid-columns);

    @include order-generator-base($grid-columns);
    @include order-generator('xs', $grid-columns);
    @include order-generator('sm', $grid-columns);
    @include order-generator('md', $grid-columns);
    @include order-generator('lg', $grid-columns);
    @include order-generator('xl', $grid-columns);
}